@import url('https://fonts.googleapis.com/css2?family=Inder&family=Indie+Flower&display=swap');

.inder-regular {
  font-family: "Inder", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}

.white {
  color: white;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

a, p, button {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}

#textTyping {
  color: #0B82E6;
}